@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Helvetica Neue","微软雅黑",sans-serif;
  font-size: 15px;
  width: 100%;
  overflow-x: hidden;
}

img {
  border: none;
}

.row {
  position: relative;
}

.row::after {
  content: '';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
}

.col {
  position: relative;
  float: left;
}

@media screen and (max-width: 3000px) {
  .col.l1 {
    width: 8.33333%;
  }
  .col.l2 {
    width: 16.66667%;
  }
  .col.l3 {
    width: 25%;
  }
  .col.l4 {
    width: 33.33333%;
  }
  .col.l5 {
    width: 41.66667%;
  }
  .col.l6 {
    width: 50%;
  }
  .col.l7 {
    width: 58.33333%;
  }
  .col.l8 {
    width: 66.66667%;
  }
  .col.l9 {
    width: 75%;
  }
  .col.l10 {
    width: 83.33333%;
  }
  .col.l11 {
    width: 91.66667%;
  }
  .col.l12 {
    width: 100%;
  }
}

@media screen and (max-width: 1068px) {
  .col.m1 {
    width: 8.33333%;
  }
  .col.m2 {
    width: 16.66667%;
  }
  .col.m3 {
    width: 25%;
  }
  .col.m4 {
    width: 33.33333%;
  }
  .col.m5 {
    width: 41.66667%;
  }
  .col.m6 {
    width: 50%;
  }
  .col.m7 {
    width: 58.33333%;
  }
  .col.m8 {
    width: 66.66667%;
  }
  .col.m9 {
    width: 75%;
  }
  .col.m10 {
    width: 83.33333%;
  }
  .col.m11 {
    width: 91.66667%;
  }
  .col.m12 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .col.s1 {
    width: 8.33333%;
  }
  .col.s2 {
    width: 16.66667%;
  }
  .col.s3 {
    width: 25%;
  }
  .col.s4 {
    width: 33.33333%;
  }
  .col.s5 {
    width: 41.66667%;
  }
  .col.s6 {
    width: 50%;
  }
  .col.s7 {
    width: 58.33333%;
  }
  .col.s8 {
    width: 66.66667%;
  }
  .col.s9 {
    width: 75%;
  }
  .col.s10 {
    width: 83.33333%;
  }
  .col.s11 {
    width: 91.66667%;
  }
  .col.s12 {
    width: 100%;
  }
}

@font-face {
  font-family: "cuti";
  src: url("../fonts/cuti.woff") format("woff");
}

@font-face {
  font-family: "jicu";
  src: url("../fonts/jicu.woff") format("woff");
}

@font-face {
  font-family: "jixi";
  src: url("../fonts/jixi.woff") format("woff");
}

@font-face {
  font-family: "zhengchang";
  src: url("../fonts/zhengchang.woff") format("woff");
}

@font-face {
  font-family: "jiantoul";
  src: url("../fonts/iconfont.eot");
  src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype");
}

.jiantoul {
  font-family: "jiantoul" !important;
  font-size: 60px;
  font-style: normal;
}

@font-face {
  font-family: "jiantour";
  src: url("../fonts/iconfont1.eot");
  src: url("../fonts/iconfont1.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont1.woff") format("woff");
}

.jiantour {
  font-family: "jiantour" !important;
  font-size: 60px;
  font-style: normal;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 44px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 666666;
}

.header .header-inner {
  max-width: 1024px;
  height: 44px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header .nav {
  height: 44px;
  text-align: justify;
  overflow: hidden;
}

.header .nav .logo a {
  background: url(../img/logo.svg) no-repeat center center;
}

.header .nav .mac a {
  background: url(../img/mac.svg) no-repeat center center;
}

.header .nav .ipad a {
  background: url(../img/ipad.svg) no-repeat center center;
}

.header .nav .iphone a {
  background: url(../img/iphone.svg) no-repeat center center;
}

.header .nav .watch a {
  background: url(../img/watch.svg) no-repeat center center;
}

.header .nav .tv a {
  background: url(../img/tv.svg) no-repeat center center;
}

.header .nav .music a {
  background: url(../img/music.svg) no-repeat center center;
}

.header .nav .support a {
  background: url(../img/support.svg) no-repeat center center;
}

.header .nav .search a {
  background: url(../img/search.svg) no-repeat center center;
}

.header .nav .bag a {
  background: url(../img/bag.svg) no-repeat center center;
}

.header .nav li {
  display: inline-block;
  height: 44px;
  line-height: 44px;
}

.header .nav li a {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0 12px;
  transition: opacity 0.6s ease;
}

.header .nav li a:hover {
  opacity: 0.6;
}

.header .nav li a span {
  font-size: 0;
  line-height: 0;
  height: 0;
  width: 0;
}

.header .nav::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.header .nav .xiaoshi {
  transition: all 0.8s ease;
  transform: scale(1, 1);
}

.header .xiaoshi.searching {
  transform: scale(0.2, 0.2);
  opacity: 0;
}

.header .display {
  display: none;
}

.nav-iphone {
  height: 48px;
  display: none;
}

.nav-iphone li {
  height: 48px;
  line-height: 48px;
  width: 48px;
  height: 48px;
  transition: opacity 0.6s ease;
  cursor: pointer;
}

.nav-iphone .menu {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
}

.nav-iphone .menu .hang, .nav-iphone .menu .lie {
  transition: all 0.6s ease;
  width: 17px;
  height: 1px;
  background: #FFFFFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.nav-iphone .menu .hang {
  top: 20px;
}

.nav-iphone .menu .hang.zhuan {
  transform: rotateZ(45deg);
  top: 24px;
}

.nav-iphone .menu .lie {
  bottom: 20px;
}

.nav-iphone .menu .lie.zhuan {
  transform: rotateZ(135deg);
  bottom: 23px;
}

.nav-iphone .menu:hover {
  opacity: 0.6;
}

.nav-iphone .logo {
  background: url(../img/logo.svg) no-repeat center center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
}

.nav-iphone .logo:hover {
  opacity: 0.6;
}

.nav-iphone .bag {
  background: url(../img/bag.svg) no-repeat center center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
}

.nav-iphone .bag:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .header {
    height: 48px;
  }
  .header .header-inner {
    background: #000;
    height: 48px;
    padding: 0;
  }
  .header .header-inner .display {
    display: block;
  }
  .header .header-inner .nav-iphone {
    display: block;
  }
  .header .header-inner .display {
    position: absolute;
    top: 48px;
    left: 0;
    bottom: 0;
    width: 768px;
    height: 700px;
    background: #000;
    padding-top: 20px;
    transition: all 0.6s ease;
    transform: translateY(-800px);
    opacity: 0;
    z-index: 100000;
  }
  .header .header-inner .display .put {
    margin-left: 40px;
    height: 47px;
    line-height: 47px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    cursor: text;
    font-family: jixi;
    opacity: 0;
    transform: translateX(-70px) scale(1.2, 1.2);
  }
  .header .header-inner .display .put:hover {
    transition: opacity 1s ease;
    opacity: 0.5;
  }
  .header .header-inner .display .put a {
    color: #fff;
  }
  .header .header-inner .display .search {
    border-bottom-color: rgba(255, 255, 255, 0.5);
    font-family: cuti;
  }
  .header .header-inner .display .search .tupian {
    width: 40px;
    height: 40px;
    float: left;
    background: url(../img/search.svg) no-repeat center center;
  }
  .header .header-inner .display.diaoluo {
    opacity: 1;
    transform: translateX(0);
  }
  .header .header-inner .display.diaoluo .put {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
  .header .header-inner .display.diaoluo li:nth-child(1) {
    transition: transform 0.2s ease 0.3s, opacity 0.6s ease 0.08s;
  }
  .header .header-inner .display.diaoluo li:nth-child(2) {
    transition: transform 0.2s ease 0.4s, opacity 0.6s ease 0.16s;
  }
  .header .header-inner .display.diaoluo li:nth-child(3) {
    transition: transform 0.2s ease 0.5s, opacity 0.6s ease 0.24s;
  }
  .header .header-inner .display.diaoluo li:nth-child(4) {
    transition: transform 0.2s ease 0.6s, opacity 0.6s ease 0.32s;
  }
  .header .header-inner .display.diaoluo li:nth-child(5) {
    transition: transform 0.2s ease 0.7s, opacity 0.6s ease 0.4s;
  }
  .header .header-inner .display.diaoluo li:nth-child(6) {
    transition: transform 0.2s ease 0.8s, opacity 0.6s ease 0.48s;
  }
  .header .header-inner .display.diaoluo li:nth-child(7) {
    transition: transform 0.2s ease 0.9s, opacity 0.6s ease 0.56s;
  }
  .header .header-inner .display.diaoluo li:nth-child(8) {
    transition: transform 0.2s ease 1s, opacity 0.6s ease 0.64s;
  }
  .header .header-inner .bag.diaoluo {
    transform: translateX(35px);
    transition: transform 0.6s ease;
  }
  .nav {
    display: none;
  }
  .searchbox {
    display: none;
  }
  body.diaoluo {
    overflow: hidden;
  }
}

.searchbox {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  height: 0;
  width: 0;
  transform: translateX(1000px);
  overflow: hidden;
  transition: transform 0.6s ease;
  z-index: 100000;
}

.searchbox .button {
  float: left;
  width: 44px;
  height: 44px;
  background: url(../img/search.svg) no-repeat center center;
}

.searchbox input {
  float: left;
  font-size: 16px;
  font-family: "jixi";
  height: 44px;
  outline: none;
  width: 580px;
  border: none;
  background-color: transparent;
  color: #8E8E8E;
}

.searchbox .cuohao {
  float: right;
  width: 44px;
  height: 44px;
  cursor: pointer;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-family: "jixi";
}

.searchbox .xiala {
  position: absolute;
  top: 44px;
  left: 0;
  width: 80%;
  height: 0;
  background: #FFFFFF;
  z-index: 2222222;
  display: block;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "zhengchang";
}

.searchbox .xiala span {
  font-family: "cuti";
  display: block;
  color: #999;
  margin-top: 10px;
  font-size: 10px;
  line-height: 30px;
  padding-left: 28px;
}

.searchbox .xiala li {
  transform: translateX(50px);
  transition: transform 0.9s ease 0.9s;
}

.searchbox .xiala li a {
  color: #999;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 30px;
  padding: 3px 45px;
  box-sizing: border-box;
  font-family: "cuti";
}

.searchbox .xiala li a:hover {
  background: #F2F2F2;
  color: #0070c9;
}

.searchbox.searching {
  transform: translateX(0);
  overflow: visible;
  width: 760px;
  height: 100%;
}

.searchbox.searching .xiala {
  height: 230px;
  transition: all 0.8s ease 1s;
}

.searchbox.searching .xiala li {
  transform: translateX(0);
}

.searchbox.searching .xiala li:nth-child(1) {
  transition-delay: 0.7s;
}

.searchbox.searching .xiala li:nth-child(2) {
  transition-delay: 0.8s;
}

.searchbox.searching .xiala li:nth-child(3) {
  transition-delay: 0.9s;
}

.searchbox.searching .xiala li:nth-child(4) {
  transition-delay: 1s;
}

.searchbox.searching .xiala li:nth-child(5) {
  transition-delay: 1.1s;
}

#zhegai {
  position: fixed;
  top: 44px;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

#zhegai.searching {
  display: block;
}

body.searching {
  overflow: hidden;
}

.banner {
  width: 100%;
  height: 650px;
  /*.moveleft.jiantoul::before{
			content: '&#xe639;';
		}*/
  /*.moveright.jiantour::before{
		content: &#xe63a;;
	}*/
}

.banner .moveleft {
  font-family: "jiantoul";
  width: 67px;
  height: 128px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 18px;
  cursor: pointer;
  z-index: 222;
}

.banner .moveleft i {
  display: none;
  font-style: normal;
  color: #eee;
}

.banner .moveright {
  font-family: "jiantour";
  width: 67px;
  height: 128px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 18px;
  cursor: pointer;
  z-index: 222;
}

.banner .moveright i {
  display: none;
  font-style: normal;
  color: #eee;
  font-weight: normal;
}

.banner .zhishi {
  width: 114px;
  height: 8px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
}

.banner .zhishi li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #999999;
  float: left;
  margin: 0 10px;
  cursor: pointer;
  z-index: 666666;
}

.banner .zhishi .active {
  border: 1px solid #0070c9;
  background: transparent;
  transform: translateY(-1px);
}

.banner .zhishi li.diaoluo {
  display: none;
}

.banner .banner-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner .banner-inner li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: transform 0.6s ease;
}

.banner .banner-inner .iphone6s {
  background: #FFFFFF url(../img/bannerbig1.jpg) no-repeat center center;
}

.banner .banner-inner .ipadpro {
  background: #FFFFFF url(../img/bannerbig2.jpg) no-repeat center center;
}

.banner .banner-inner .watchs {
  background: #FFFFFF url(../img/bannerbig3.jpg) no-repeat center center;
}

.banner .banner-inner .macbook {
  background: #FFFFFF url(../img/bannerbig4.jpg) no-repeat center center;
}

.banner .banner-inner li.active {
  display: block;
  transform: translateX(0);
}

.banner .banner-inner .item.right {
  display: block;
  transform: translateX(100%);
}

.banner .banner-inner .item.left {
  display: block;
  transform: translateX(-100%);
}

.banner .banner-inner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 33333;
}

@media screen and (max-width: 768px) {
  .banner .banner-inner .iphone6s {
    background: #FFFFFF url(../img/bannersmall1.jpg) no-repeat center center;
  }
  .banner .banner-inner .ipadpro {
    background: #FFFFFF url(../img/bannersmall2.jpg) no-repeat center center;
  }
  .banner .banner-inner .watchs {
    background: #FFFFFF url(../img/bannersmall3.jpg) no-repeat center center;
  }
  .banner .banner-inner .macbook {
    background: #FFFFFF url(../img/bannersmall4.jpg) no-repeat center center;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 540px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container .zhanshi1 a {
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
  height: 200px;
  background: url(../img/zhanshibig1.jpg) no-repeat center center;
  background-size: cover;
}

.container .zhanshi2 a {
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
  height: 200px;
  background: url(../img/zhanshibig2.jpg) no-repeat center center;
  background-size: cover;
}

.container .zhanshi3 a {
  margin-right: 2px;
  margin-bottom: 2px;
  display: block;
  height: 200px;
  background: url(../img/zhanshibig3.jpg) no-repeat center center;
  background-size: cover;
}

.container .zhanshi4 a {
  margin-bottom: 2px;
  display: block;
  height: 200px;
  background: url(../img/zhanshibig4.jpg) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 1068px) {
  .container .zhanshi2 a {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .container .zhanshi1 a {
    margin-right: 0;
    background: url(../img/zhanshismall1.jpg) no-repeat center center;
  }
  .container .zhanshi2 a {
    margin-right: 0;
    background: url(../img/zhanshismall2.jpg) no-repeat center center;
  }
  .container .zhanshi3 a {
    margin-right: 0;
    background: url(../img/zhanshismall3.jpg) no-repeat center center;
  }
  .container .zhanshi4 a {
    background: url(../img/zhanshismall4.jpg) no-repeat center center;
  }
}

.footer {
  font-family: "cuti";
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
  font-size: 12px;
  color: #666666;
}

.footer .footerin {
  height: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.footer .navfooter::after {
  content: "";
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
}

.footer .hang {
  width: 20%;
  float: left;
  margin-top: 30px;
}

.footer .hang li {
  padding: 3px;
  box-sizing: border-box;
}

.footer .hang li a {
  color: #666666;
}

.footer .hang li a:hover {
  color: #333333;
  text-decoration: underline;
}

.footer .hang .diyi {
  font-family: "jicu";
  color: #333333;
}

.footer .hang .lists {
  margin-left: 20%;
}

.footer .hang .list1 {
  margin-top: 25px;
}

.footer .more {
  margin-left: 4%;
  color: #999999;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #e3e3e3;
  /*position: absolute;
		left:0;
		top:400px;*/
}

.footer .more a {
  color: #08c;
}

.footer .more a:hover {
  text-decoration: underline;
  color: #333333;
}

.footer .guoqi {
  display: none;
  height: 30px;
  margin-left: 4%;
  margin-top: 10px;
}

.footer .guoqi img {
  float: left;
}

.footer .guoqi a {
  float: left;
  display: block;
  line-height: 20px;
  margin-left: 10px;
  color: #666666;
}

.footer .guoqi a:hover {
  color: #333333;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer .guoqi {
    display: block;
  }
}

.footer .copyright {
  width: 100%;
  color: #999999;
  height: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

.footer .copyright .copy {
  float: left;
  margin-right: 30px;
  margin-left: 4%;
}

.footer .copyright .baoguo {
  float: left;
  margin-left: 2%;
}

.footer .copyright .privacy {
  float: left;
  margin-right: 6px;
}

.footer .copyright .privacy a {
  color: #999999;
}

.footer .copyright .privacy a:hover {
  color: #333333;
  text-decoration: underline;
}

.footer .copyright .zhongguo {
  display: block;
  height: 30px;
  float: right;
  margin-top: 8px;
}

.footer .copyright .zhongguo img {
  float: left;
}

.footer .copyright .zhongguo a {
  float: left;
  display: block;
  line-height: 20px;
  margin-left: 10px;
  color: #666666;
}

.footer .copyright .zhongguo a:hover {
  color: #333333;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer .copyright .zhongguo {
    display: none;
  }
}

.footer .navfooter-yincang {
  padding-top: 25px;
  display: none;
  width: 95%;
  margin: 0 auto;
  color: #333333;
  font-size: 14px;
}

.footer .navfooter-yincang .navzong {
  height: auto !important;
}

.footer .navfooter-yincang .navzong .foot {
  width: 100% !important;
  float: none;
}

.footer .navfooter-yincang .navzong .foot .shop {
  height: 40px;
  margin-top: 0;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.footer .navfooter-yincang .navzong .foot .shop span {
  display: block;
  float: right;
  transition: all .8s ease;
}

.footer .navfooter-yincang .navzong .foot .shop span.activejia {
  transform: rotate(45deg);
}

.footer .navfooter-yincang .navzong .foot .shop.quxian {
  border-bottom: none;
}

.footer .navfooter-yincang .navzong .foot .erji {
  display: none;
}

.footer .navfooter-yincang .navzong .foot .erji li {
  padding-left: 10px;
  line-height: 30px;
}

.footer .navfooter-yincang .navzong .foot .erji li a {
  font-size: 12px;
  font-family: jixi;
  color: #000;
}

.footer .navfooter-yincang .navzong .foot .erji li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer .navfooter {
    display: none;
  }
  .footer .navfooter-yincang {
    display: block;
  }
}
